body {
    background: url(./../img/background.jpg) top;
    font-family: 'Noto Serif', serif;
    color: #ffffff;
    font-size: 30px;
    padding-top: 70px;
}

.share button {
    padding: 5px 25px;
}